#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    keymap {
        compatible = "zmk,keymap";

        default_layer {
            bindings = <
                &kp F1  &kp F2  &kp F3  &kp F4
                &kp F5  &kp F6  &kp F7  &kp F8
            >;
        };
    };
};
